.spree-flat-select-arrow {
  pointer-events: none;
}

#link-to-account {
  a.dropdown-item {
    color: var(--bs-link-color);
    text-decoration: none;
    -webkit-text-decoration-skip: objects;

    &:hover {
      color: var(--bs-link-hover-color);
      text-decoration: none;
    }
  }
}
