.forgot-password {
  a {
    transition: basic-transition(color);
    text-decoration: underline;
    color: $primary;
    font-size: font-px-to-rem(12px);

    &:hover,
    &:active {
      color: $primary;
    }
  }

  @include media-breakpoint-up(sm) {
    a {
      font-size: font-px-to-rem(23px);
    }
  }

  @include media-breakpoint-up(lg) {
    a {
      font-size: font-px-to-rem(16px);
    }
  }
}
