<div class="container">
  <div class="not-found-page text-center d-flex flex-column justify-content-center align-items-center">
    <h1 class="display-1 text-primary">404</h1>
    <p><strong><%= Spree.t(:page_not_found) %></strong></p>
    <p><%= Spree.t(:get_back_to_the) %> <%= link_to current_store.url, spree.root_url %></p>
  </div>
</div>
