<div class="p-5 text-center bg-image hero-image-wrapper" style="background-image: url('<%= asset_path('homepage/background.jpg') %>');">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="mask p-5 rounded-pill" style="background: radial-gradient(black, #0000002b)">
      <div class="col-lg-6 text-white mx-auto">
        <h1 class="mb-3">Product Mall Affiliates and Creators</h1>
        <p class="mb-5">
          Sign up for the program that fits.
          Earn a commission for every one-of-a-kind piece you discover and share,
          when you sign up to become an Product Mall Affiliate or Creator Co member.
        </p>
      </div>
    </div>
  </div>
</div>
