.parent-category-links {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.parent-category-title {
  font-weight: bold;
  color: $font-color;
  text-decoration: underline;
}

.sub-category-title {
  font-weight: 400;
  color: $font-color;
  text-decoration: none;
}


.sub-sub-category-title {
  font-weight: 300;
  color: $font-color;
  text-decoration: none;
}

