@import 'bootstrap/scss/bootstrap-utilities';
@import "./variables";
@import "./bootstrap-customize";

@import "./fonts";
@import "./vendors/jquery-steps";
@import "./mixins";
@import "./functions";
@import "./margins";
@import "./flags/flag-icon";

@import "./components-bootstrap/index";

@import "./components-custom/headers";
@import "./components-custom/inputs";
@import "./components-custom/icons";
@import "./components-custom/background";

@import "./views/spree/static_pages/about";
@import "./views/spree/shared/quantity_select";
@import "./views/spree/layouts/spree_application";
@import "./helpers/spree/frontend_helper";
@import "./views/spree/icon";
@import "./views/spree/shared/images";
@import "./views/spree/shared/account_navbar";
@import "./views/spree/shared/cart";
@import "./views/spree/shared/category_nav_bar";
@import "./views/spree/shared/footer";
@import "./views/spree/shared/header";
@import "./views/spree/shared/login";
@import "./views/spree/shared/nav_bar";
@import "./views/spree/shared/search_form";
@import "./views/spree/shared/order_details";
@import "./views/spree/shared/main_nav_bar";
@import "./views/spree/errors/not_found";
@import "./views/spree/cms_sections/_index";
@import "./views/spree/shared/carousel/thumbnails";
@import "./views/spree/shared/carousel/single";
@import "./views/spree/home/index";
@import "./views/spree/user_passwords/user_passwords";
@import "./views/spree/user_sessions/new";
@import "./views/spree/products/index";
@import "./views/spree/checkout/registration";
@import "./views/spree/checkout/delivery";
@import "./views/spree/checkout/confirm";
@import "./views/spree/checkout/payment";
@import "./views/spree/orders/edit";
@import "./views/spree/orders/show";
@import "./views/spree/taxons/index";
@import "./views/spree/taxons/show";
@import "./views/spree/users/show";
@import "./views/spree/checkout/edit";
@import "./views/spree/shared/product";
@import "./views/spree/products/show";
@import "./views/spree/products/cart_form";
@import "./views/spree/products/gallery_modal";
@import "./views/spree/shops/onboarding";
@import "./views/spree/shared/product_added_modal";
@import "./views/spree/shared/mobile_navigation";
@import "./views/spree/shared/no_product_available";
@import "./views/spree/shared/color_select";
@import "./views/spree/shared/dropdown";
@import "./views/spree/shared/delete_address_popup";

body {
  margin: 0;
  font-family: "Noto Sans", "Instrument Sans", "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  background-color: #fff;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}
