@import "bootstrap/scss/bootstrap-utilities";
@import "./variables";
@import "./fonts";
@import "./vendors/index";
@import "./mixins";
@import "./functions";
@import "./flags/flag-icon";
@import "./components-bootstrap/index";
@import "./components-custom/index";
@import "./helpers/index";
@import "./views/index";

body {
  margin: 0;
  font-family: "Noto Sans", "Instrument Sans", "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: left;
  background-color: #fff;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-light {
  font-weight: 300;
}
