<div class="flex py-3 justify-content-around">
  <%= link_to(spree.edit_address_path(address), method: :get, class: 'btn btn-outline-secondary', data: { hook: 'edit_address' }) do %>
    <%= icon(name: 'edit-icon', classes: '', width: 20, height: 20) %> Edit
  <% end %>

  <%= link_to '#', class: 'js-delete-address-link ms-3 btn btn-outline-danger', data: { turbo: false, hook: 'remove_address', address: spree.address_path(address) }, aria: { label: Spree.t('address_book.remove_address') } do %>
    <%= icon(name: 'delete-icon', width: 20, height: 20) %> Delete
  <% end %>
</div>
