<div class="p-5 text-center bg-image hero-image-wrapper" style="background-image: url('<%= asset_path('homepage/background.jpg') %>');">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="mask p-5 rounded-pill" style="background: radial-gradient(black, #0000002b)">
      <div class="col-lg-6 text-white mx-auto">
        <h1 class="mb-3">Millions of shoppers can’t wait to see what you have in store</h1>
        <p class="mb-5">Open your shop and reach millions of buyers.</p>

        <a href="<%= spree.sell_path %>" class="btn btn-primary rounded-pill btn-lg w-100">Open a shop</a>
      </div>
    </div>
  </div>
</div>
