<div class="border-top footer-spree-copyright">
  <div class="container-fluid px-4 mx-1 d-flex justify-content-between align-items-center">
    <%= render partial: 'spree/shared/internationalization_options' %>
    <div class="d-flex flex-row flex-lg-row align-items-center justify-content-center py-3 footer-spree-copyright-content">
      © <%= Time.current.year %> <%= link_to 'Product Mall', current_store.formatted_url, class: "ml-2" %>. <%= Spree.t(:all_rights_reserved) %>.
    </div>
  </div>
</div>
