<% if should_render_locale_dropdown? %>
  <%= form_tag spree.set_locale_path, method: :get, class: 'px-0 w-100 locale-select' do %>
    <div class="form-group py-2">
      <label for="switch_to_locale" class="dropdown-header px-0">
        <%= Spree.t('i18n.language') %>
      </label>
      <%= select_tag(:switch_to_locale, options_for_select(supported_locales_options, I18n.locale), class: 'custom-select w-100 form-control') %>
      <noscript><%= submit_tag %></noscript>
    </div>
  <% end %>
<% end %>
