<% if defined?(spree_signup_path) %>
  <div class="my-4 text-center">
    <span><%= Spree.t('dont_have_account') %></span>
    <%= link_to Spree.t(:create_an_account), spree_signup_path, class: "btn btn-link #{registration_button}" %>
  </div>
<% end %>
