<%= form_tag spree.products_path, method: :get, autocomplete: "off", class: "py-md-1 d-flex align-items-center search-form w-100" do %>
  <div class="input-group rounded">
    <%= search_field_tag :keywords, params[:keywords], placeholder: 'Search for anything', title: Spree.t(:search), 'aria-label': Spree.t(:search), class: "form-control" %>

    <button type="submit" class="btn btn-outline-secondary" aria-label="Submit">
      <%= icon(name: 'search', classes: 'd-inline', width: 24, height: 24) %>
    </button>
  </div>
<% end %>
