<div class="form-group mb-4">
  <%= f.input :email, input_html: {  class: "spree-flat-input" }, required: true %>
</div>

<div class="form-group mb-4">
  <%= f.input :first_name, input_html: {  class: "spree-flat-input" } %>
</div>

<div class="form-group mb-4">
  <%= f.input :password, input_html: {  class: "spree-flat-input" }, required: true %>
</div>

<div class="form-group mb-4">
  <%= f.input :password_confirmation, input_html: {  class: "spree-flat-input" }, required: true %>
</div>
<div data-hook="signup_below_password_fields"></div>
